.blockList {
    /* background-color: grey; */
    position: relative;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    /* margin-top: 1rem; */
    z-index:0;
    /* transform: translateX(2vw); */
    /* align-items: center; */
    min-height: 80vh;

    
}

@media only screen and (max-width: 798px) {
    .blockList {
        justify-content: center;
        display: flex;
        flex-flow: column;
        align-items: center;
    }   
}

.blockListOnHide {
    display: none;
}


