.home-page-container {
    position: relative;
    height: 56.7em;
    width: 100%;
}

@media only screen and  (max-width: 798px) {
    .home-page-container {
        position: relative;
        height: 56.7em;
        width: 100%;
    }
}