.list-container{
    position: relative;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 1rem;
    z-index:0;
    width: 100%;
   
    
}

.pagination{
    position: fixed;

    right:50%;
    bottom:10%;
    display: flex;
    justify-content: center; 
     align-items: center;
     z-index:1;
}

.Movie-Page{
    width: 100%;
}