:root {
    --primary-color: rgba(0, 0, 0, 1);
    --secondary-color: 	rgb(166, 166, 166);
    --logo-text-color: rgb(0, 128, 255);
}


// page is the container with a header and the page content
.page-header {
    position: fixed;
    left: 0em;
    top: 0em;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    z-index: 1000;
}

.page-content {
    position: fixed;
    left: 0em;
    top: 6.5em;
    width: 100%;
}

#mobile-menu {
    position: absolute;
    top: 2em;
    right: 1em;
    color: white;
    display: none;
}

#mobile-menu-exit {
    position: absolute;
    z-index: 999;
    top: 1em;
    left: 1em;
    color: white;
    display: none;
}

a {
    text-decoration: none;
    font-family: 'Verdana', monospace;
}

.logo {
    position: relative;
    margin: 1.5em;
    color: white;
    font-size: x-large;
    font-weight: bold;

    #logo-text {
        color: var(--logo-text-color);
    }
}

// navigation bar
#page-nav {
    display: block;
    align-items: center;    
    position: relative;
    margin: 0.3em;
    // router link of the navigation bar 
    #page-nav-link {
        display: flex;
        max-width: 40em;

        a {
            transition: color 0.5s ease;
            color: lightgrey;
            font-size: large;
            padding: 1em 0em 1em 3em;
        }

        a:hover {
            color: white;
        }

        .current-page {
            color: darkgrey;
        }
    }
}

@media only screen and (max-width: 798px) {
    #mobile-menu {
        display: inline-block;
    }

    #mobile-menu-exit {
        display: inline-block;
    }

    #page-nav {
        display: none;
        #page-nav-link {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            z-index: 999;
            width: 50%;
            right: 0;
            top: 0;
            margin-top: 0;
            background: #20272E;
            height: 100vh;
            padding: 0;
        
            span {
                display: inline;
                font-size: medium;
                margin: 0;
            }

            a {
                padding: 1em 0em 1em;
            }
        }
    }
}


